name: Build

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Lint
        run: bun lint

      - name: Build
        run: bun build

      - name: Upload build files
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist/

#  deploy:
#    runs-on: ubuntu-latest
#    needs: build
#    if: github.ref == 'refs/heads/main'
#
#    steps:
#      - name: Download build files
#        uses: actions/download-artifact@v4
#        with:
#          name: dist
#          path: dist/
#
#      - name: Copy build files to server
#        uses: appleboy/scp-action@master
#        with:
#          host: tickr.jschneidler.com
#          username: root
#          key: ${{ secrets.PRIVATE_KEY }}
#          source: "dist/"
#          target: "~/tickr-client/"
#
#      - name: SSH
#        uses: appleboy/ssh-action@master
#        with:
#          host: tickr.jschneidler.com
#          username: root
#          key: ${{ secrets.PRIVATE_KEY }}
#          script: |
#            cd tickr-client
#            docker compose up --build -d
#            docker image prune -f
